POSTGRES_DB=rickmorty
POSTGRES_USER=rickmorty
POSTGRES_PASSWORD=change-me-postgres
NEO4J_USER=neo4j
NEO4J_PASSWORD=change-me-neo4j
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me-admin
AUTH_TOKEN_TTL=8h
SYNC_ON_STARTUP=false
